#main-header {
  background-color: white;
}

#main-page {
  font-size: 14px;
  background-color: white;
  color: black;
}

#header {
  text-align: right;
}

.sidenav {
  background-color: lightgrey;
  width: 100px;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.logo {
  height:150px;
}
