#main-header {
  background-color: white;
}

#main-page {
  font-size: 14px;
  background-color: white;
  color: black;
}

#header {
  text-align: right;
}

.sidenav {
  background-color: #f9f9f9;
  width: 100px;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.logo {
  height:150px;
}

.headerlist {
  float: right;
  padding-top: 30px;
}

.tdpad {
  padding: 10px;
}

.trpad {
  padding: 30px;
}

.h2modg {
  border: 1px solid;
  border-color: lightgray;
  padding: 2px;
  font-weight: bold;
  width: 100%;
  background-color: #cef2e0;
  font-size: 18px;
}

.h2modb {
  border: 1px solid;
  border-color: lightgray;
  padding: 2px;
  font-weight: bold;
  width: 100%;
  background-color: #cedff2;
  font-size: 18px;
}

.h2modp {
  border: 1px solid;
  border-color: lightgray;
  padding: 2px;
  font-weight: bold;
  width: 100%;
  background-color: #ddcef2;
  font-size: 18px;
}

#greencol {
  background-color: #f5fffa;
}

#bluecol {
  background-color: #f5faff;
}

#purpcol {
  background-color: #faf5ff;
}
.archive {
  text-align: right;
}

.right-float {
  float: right;
  text-align: right;
}

.left-float {
  float: left;
  padding-right: 15px;
}

#small-text {
  font-size: 11px;
}

.greeting {
  background-color: #f9f9f9;
  padding: 8px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
}

.subsections {
  margin: 0;
  padding: 0;
}
